baseURL = "https://lsycamore.com/"
languageCode = "en-us"
title = "Lucas Sycamore"

[markup.goldmark.renderer]
unsafe = true

[permalinks]
    blog = "/:filename/"
# See https://feathericons.com/
# The value of pre is the icon name

[menu]
  [[menu.main]]
    name = "Home"
    pre = "home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Blog"
    pre = "edit"
    url = "/blog/"
    weight = 2
  [[menu.main]]
    name = "Tags"
    pre = "tag"
    url = "/tags/"
    weight = 3
  [[menu.main]]
    name = "Contact"
    pre = "phone"
    url = "/contact/"
    weight = 4

[params]
  dateFormat = "Jan 2, 2006"
  homeText = "Ayo welcome to my site!"

[taxonomies]
  tag = "tags"
