<!doctype html>
<html lang="en">
  <div id="page-container">
    <div id="content-wrap">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <div class="container">
      <div id="heading">
        {{if ne .Kind "home"}}
          {{ partial "heading.html" . }}
        {{ end }} 
      </div>
      
      <main id="main">
        {{ block "main" . }}
        {{ end }}
      </main>
    </div>
    {{ partial "script.html" . }}
  </body>
  </div>  
  <footer class = "footer">
  {{ partial "footer.html" . }}
</footer>
</div>
</html>