{{ define "main" }}
<div class = "front-page">
<script src="https://kit.fontawesome.com/839d12ac9d.js" crossorigin="anonymous"></script>
<div class="centered text-center">
  <div class = "avatar">
    <p><img src = "images/lucas.jpeg" alt="Avatar"></p>
  </div>
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
  <ul id="sociallist">
    <li><a href="https://github.com/lsycamore"><i class="fab fa-github fa-2x"></i></a></li>
    <li><a href="https://linkedin.com/user/lsycamore"><i class="fab fa-linkedin fa-2x"></i></a></li>
  </ul>
  
</div>
</div>
{{ end }}