{{ define "main" }}
<div class = "front-page">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="centered text-center">
  <div class = "avatar">
    <p><img src = "images/lucas.jpeg" alt="Avatar"></p>
  </div>
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
  <ul id="sociallist">
    <li><a href="https://github.com/lsycamore" class="fa fa-github"></a></li>
    <li><a href="https://linkedin.com/user/lsycamore" class="fa fa-linkedin"></a></li>
  </ul>
  
</div>
</div>
{{ end }}